.Header {
    background: #EAE7DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.Header h1 {
    margin-left: 20px;
    font-family: Arial, serif;
    font-weight: bold;
    color: #8E8D8A;
    text-shadow: 1px 1px 1px #000000;
}

.Header .Menu {
    margin-right: 20px;
}
